# Explore the Data (after it's been munged, aligned to env, and trimmed based on coverage)

Just a quick peak for my own sake

In [1]:
import pandas as pd

In [2]:
# Load the data.
data = pd.read_csv('./combined_data_alignedENV_trimmed.csv', index_col=0)

In [3]:
data.head()

,seq_AA,seq_NA,Inclusive_HAD,Inclusive_HAND,Inclusive_HIVE,Tissue_Brain,Tissue_CNS,ID_Patient,Inclusive_NoHAND,Inclusive_Other,Inclusive_Unknown,Inclusive_Remaining,Inclusive_ADC,seq_NA_AlignedAndTrimmed_env
ID_Sequence,,,,,,,,,,,,,,
47_1_HAD,NaN,gcctgcccgaaagtttcgttcgagcccattcccattcactattgcg...,True,NaN,NaN,True,True,47,NaN,NaN,NaN,NaN,NaN,----------------------------------------------...
47_2_HAD,NaN,gcctgtccgaaggtttcattcgagccaattccaattcattactgcg...,True,NaN,NaN,True,True,47,NaN,NaN,NaN,NaN,NaN,----------------------------------------------...
55_1_HAD,NaN,gcttgtcctaaagttaccttcgagccgattccgattcactactgtg...,True,NaN,NaN,True,True,55,NaN,NaN,NaN,NaN,NaN,----------------------------------------------...
59_2_HAD,NaN,gcgtgtcctaaggtatcgttcgaggctattcccatacattattgtg...,True,NaN,NaN,True,True,59,NaN,NaN,NaN,NaN,NaN,----------------------------------------------...
59_3_HAD,NaN,gcttgtcctaaggtttcattcgagccgatccctatacactattgcg...,True,NaN,NaN,True,True,59,NaN,NaN,NaN,NaN,NaN,----------------------------------------------...

In [4]:
data.shape

(3886, 14)

In [5]:
data.describe()

,seq_AA,seq_NA,Inclusive_HAD,Inclusive_HAND,Inclusive_HIVE,Tissue_Brain,Tissue_CNS,ID_Patient,Inclusive_NoHAND,Inclusive_Other,Inclusive_Unknown,Inclusive_Remaining,Inclusive_ADC,seq_NA_AlignedAndTrimmed_env
count,1720,3886,2012,1340,1941,1501,1990,3886,1574,271,425,31,194,3886
unique,1106,3282,1,1,1,1,1,179,1,1,1,1,1,3235
top,ntsvitqacpkvtfepipihycapagfailkcnnktfngtgpcknv...,acgaacaatgctaaaaccataatagtacacctaaatgaatctgtac...,True,True,True,True,True,AM,True,True,True,True,True,----------------------------------------------...
freq,51,22,2012,1340,1941,1501,1990,225,1574,271,425,31,194,22

In [6]:
print('There are ', data.shape[0], ' sequences')

There are  3886  sequences

In [7]:
numPatients = len(set(list(data['ID_Patient'])))
print('There are ', numPatients, ' patients')

There are  179  patients